body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin-top: 10px;
    margin-bottom: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 750px;
    border: 4px double red;
}

.row {
    display: flex;
    flex: 1;
}